## A. Crate dataFrame

### With array

#### OPSI 01

In [4]:
import pandas as pd
import numpy as np

In [ ]:
# membuat data frame

In [7]:
# creating an array
data = np.array([[1, 4], [2, 5], [3, 6]])

In [12]:
# creating a dataframe
pd.DataFrame(data, index=['row1','row2', 'row3'], columns=['col1','col2'])
# index = row columns= adalah colom nya

      col1  col2
row1     1     4
row2     2     5
row3     3     6

#### OPSI 02

In [10]:
# with list shape
data = [[1, 4], [2, 5], [3, 6]]

In [16]:
df = pd.DataFrame(data, index=['row1','row2', 'row3'], columns=['col1','col2'])

In [17]:
df

      col1  col2
row1     1     4
row2     2     5
row3     3     6

### With dictionary

#### OPSI 01

In [19]:
# lists used for this example
states = ['california', 'teaxas', 'new york']
populasi = [2323124,123443,45354]

In [22]:
# stroing lists within a dictionary
dict_states = {'states' : states, 'population' : populasi}

In [ ]:
# creating dataFrame
df_populasi = pd.DataFrame(dict_states)