In [2]:
import pandas as pd

In [11]:
df_air = pd.read_csv('Air_Quality.csv')
df_air.shape

(18862, 12)

In [9]:
df_air.head()

,Unique_ID,Indicator_ID,Name,Measure,Measure_Info,Geo_Type_Name,Geo_Join_ID,Geo_Place_Name,Time_Period,Start_Date,Data_Value,Message
0,336867,375,Nitrogen dioxide (NO2),Mean,ppb,CD,407,Flushing and Whitestone (CD7),Winter 2014-15,12/1/2014,23.97,NaN
1,336741,375,Nitrogen dioxide (NO2),Mean,ppb,CD,107,Upper West Side (CD7),Winter 2014-15,12/1/2014,27.42,NaN
2,550157,375,Nitrogen dioxide (NO2),Mean,ppb,CD,414,Rockaway and Broad Channel (CD14),Annual Average 2017,1/1/2017,12.55,NaN
3,412802,375,Nitrogen dioxide (NO2),Mean,ppb,CD,407,Flushing and Whitestone (CD7),Winter 2015-16,12/1/2015,22.63,NaN
4,412803,375,Nitrogen dioxide (NO2),Mean,ppb,CD,407,Flushing and Whitestone (CD7),Summer 2016,6/1/2016,14.00,NaN

### 1 Adding a new Column

#### 1.1 assign()

In [8]:
import numpy as np

In [12]:
# create random numbers for our new score column
score1 = np.random.randint(1,100, size=18862)
score2 = np.random.randint(1,100, size=18862)

In [20]:
# create a series using the random numbers
series_1 = pd.Series(score1, index=np.arange(0,18862))
series_2 = pd.Series(score2, index=np.arange(0,18862))

In [24]:
df_air.assign(score1=series_1, score2=series_2).head() #buat kolom terus masukin fungsi no nya lalu masukin ke assign

,Unique_ID,Indicator_ID,Name,Measure,Measure_Info,Geo_Type_Name,Geo_Join_ID,Geo_Place_Name,Time_Period,Start_Date,Data_Value,Message,score1,score2
0,336867,375,Nitrogen dioxide (NO2),Mean,ppb,CD,407,Flushing and Whitestone (CD7),Winter 2014-15,12/1/2014,23.97,NaN,10,19
1,336741,375,Nitrogen dioxide (NO2),Mean,ppb,CD,107,Upper West Side (CD7),Winter 2014-15,12/1/2014,27.42,NaN,80,52
2,550157,375,Nitrogen dioxide (NO2),Mean,ppb,CD,414,Rockaway and Broad Channel (CD14),Annual Average 2017,1/1/2017,12.55,NaN,48,29
3,412802,375,Nitrogen dioxide (NO2),Mean,ppb,CD,407,Flushing and Whitestone (CD7),Winter 2015-16,12/1/2015,22.63,NaN,31,50
4,412803,375,Nitrogen dioxide (NO2),Mean,ppb,CD,407,Flushing and Whitestone (CD7),Summer 2016,6/1/2016,14.00,NaN,79,30

#### 1.2 inser()

insert a new column ar specific position or index

In [36]:
# using index() to add a column at a specific position
df_air.insert(1, 'te', series_1)
df_air.head()

ValueError: cannot insert te, already exists