In [1]:
import pandas as pd

In [2]:
# reading the csv file
df_mobil = pd.read_csv('data_car.csv')

In [5]:
# show first 5 rows in a dataframe
df_mobil.head(5)

       Pembuat Model mobil  tahun perilisan harga saat ini    HP
0          BMW          M1             2011       $50,000   10.0
1          BMW          M2             2015       $70,000   15.0
2  LAMBORGHINI        HEAT             2010       $60,000   15.0
3  LAMBORGHINI      RUMBLE             2015       $80,000   10.0
4  LAMBORGHINI        RONE             2000       $50,000   10.0

In [8]:
# show last 5 rows in a dataframe
df_mobil.tail(5)

       Pembuat Model mobil  tahun perilisan harga saat ini     HP
2  LAMBORGHINI        HEAT             2010       $60,000    15.0
3  LAMBORGHINI      RUMBLE             2015       $80,000    10.0
4  LAMBORGHINI        RONE             2000       $50,000    10.0
5  LAMBORGHINI        RONE             2000       $50,000   100.0
6          BMW         GTR             2015            NaN   15.0

In [21]:
# show last
df_mobil.tail(1)

  Pembuat Model mobil  tahun perilisan harga saat ini    HP
6     BMW         GTR             2015            NaN  15.0

In [22]:
# getting acces to the shape attribute
df_mobil.shape

(7, 5)

In [28]:
# display n rows
pd.set_option('display.max_rows', 9)
df_mobil

       Pembuat Model mobil  tahun perilisan harga saat ini     HP
0          BMW          M1             2011       $50,000    10.0
1          BMW          M2             2015       $70,000    15.0
2  LAMBORGHINI        HEAT             2010       $60,000    15.0
3  LAMBORGHINI      RUMBLE             2015       $80,000    10.0
4  LAMBORGHINI        RONE             2000       $50,000    10.0
5  LAMBORGHINI        RONE             2000       $50,000   100.0
6          BMW         GTR             2015            NaN   15.0