In [97]:
import pandas as pd
from sklearn.preprocessing import MinMaxScaler # mengambil data import yang pra prooses

### a. min max

In [98]:
data = pd.read_csv('Air_Quality.csv').head(10)
data

,Unique_ID,Indicator_ID,Name,Measure,Measure_Info,Geo_Type_Name,Geo_Join_ID,Geo_Place_Name,Time_Period,Start_Date,Data_Value,Message
0,336867,375,Nitrogen dioxide (NO2),Mean,ppb,CD,407,Flushing and Whitestone (CD7),Winter 2014-15,12/1/2014,23.97000,NaN
1,336741,375,Nitrogen dioxide (NO2),Mean,ppb,CD,107,Upper West Side (CD7),Winter 2014-15,12/1/2014,27.42000,NaN
2,550157,375,Nitrogen dioxide (NO2),Mean,ppb,CD,414,Rockaway and Broad Channel (CD14),Annual Average 2017,1/1/2017,12.55000,NaN
3,412802,375,Nitrogen dioxide (NO2),Mean,ppb,CD,407,Flushing and Whitestone (CD7),Winter 2015-16,12/1/2015,22.63000,NaN
4,412803,375,Nitrogen dioxide (NO2),Mean,ppb,CD,407,Flushing and Whitestone (CD7),Summer 2016,6/1/2016,14.00000,NaN
5,412676,375,Nitrogen dioxide (NO2),Mean,ppb,CD,107,Upper West Side (CD7),Winter 2015-16,12/1/2015,26.43000,NaN
6,412677,375,Nitrogen dioxide (NO2),Mean,ppb,CD,107,Upper West Side (CD7),Summer 2016,6/1/2016,19.10000,NaN
7,603044,375,Nitrogen dioxide (NO2),Mean,ppb,CD,314,Flatbush and Midwood (CD14),Annual Average 2018,1/1/2018,17.28000,NaN
8,412804,375,Nitrogen dioxide (NO2),Mean,ppb,CD,407,Flushing and Whitestone (CD7),Annual Average 2016,12/31/2015,18.20000,NaN
9,825832,375,Nitrogen dioxide (NO2),Mean,ppb,CD,107,Upper West Side (CD7),Winter 2021-22,12/1/2021,22.07527,NaN

In [99]:
scaler = MinMaxScaler()

In [100]:
scaled = scaler.fit_transform(data[['Geo_Join_ID', 'Data_Value']])

In [101]:
print(scaled)

[[0.9771987  0.76798924]
 [0.         1.        ]
 [1.         0.        ]
 [0.9771987  0.67787492]
 [0.9771987  0.09751177]
 [0.         0.933423  ]
 [0.         0.4404842 ]
 [0.6742671  0.31809011]
 [0.9771987  0.37995965]
 [0.         0.64056962]]

### b. data Standardization

In [131]:
import pandas as pd
from sklearn.preprocessing import StandardScaler # mengambil data import yang pra prooses
scaler1 = StandardScaler

In [132]:
data = pd.read_csv('Air_Quality.csv').head(10)

In [133]:
scaled = scaler1.fit_transform(data[['Geo_Join_ID','Data_Value']])

TypeError: TransformerMixin.fit_transform() missing 1 required positional argument: 'X'

In [ ]:
print(scaled1)