### a. Value Counts Method

In [4]:
import pandas as pd

In [8]:
df_air = pd.read_csv('Air_Quality.csv')
df_air.head()

,Unique_ID,Indicator_ID,Name,Measure,Measure_Info,Geo_Type_Name,Geo_Join_ID,Geo_Place_Name,Time_Period,Start_Date,Data_Value,Message
0,336867,375,Nitrogen dioxide (NO2),Mean,ppb,CD,407,Flushing and Whitestone (CD7),Winter 2014-15,12/1/2014,23.97,NaN
1,336741,375,Nitrogen dioxide (NO2),Mean,ppb,CD,107,Upper West Side (CD7),Winter 2014-15,12/1/2014,27.42,NaN
2,550157,375,Nitrogen dioxide (NO2),Mean,ppb,CD,414,Rockaway and Broad Channel (CD14),Annual Average 2017,1/1/2017,12.55,NaN
3,412802,375,Nitrogen dioxide (NO2),Mean,ppb,CD,407,Flushing and Whitestone (CD7),Winter 2015-16,12/1/2015,22.63,NaN
4,412803,375,Nitrogen dioxide (NO2),Mean,ppb,CD,407,Flushing and Whitestone (CD7),Summer 2016,6/1/2016,14.00,NaN

### 1. Value Counts

In [10]:
# Counting name elements

# len function
len(df_air['Name'])
# .count() method
df_air['Name'].count()

18862

In [12]:
df_air['Name'].value_counts() # melihat isi data pada colom string

Name
Nitrogen dioxide (NO2)                                    6345
Fine particles (PM 2.5)                                   6345
Ozone (O3)                                                2115
Asthma emergency departments visits due to Ozone           480
Asthma emergency department visits due to PM2.5            480
Asthma hospitalizations due to Ozone                       480
Annual vehicle miles traveled                              321
Annual vehicle miles traveled (trucks)                     321
Annual vehicle miles traveled (cars)                       321
Deaths due to PM2.5                                        240
Cardiovascular hospitalizations due to PM2.5 (age 40+)     240
Cardiac and respiratory deaths due to Ozone                240
Respiratory hospitalizations due to PM2.5 (age 20+)        240
Outdoor Air Toxics - Benzene                               203
Outdoor Air Toxics - Formaldehyde                          203
Boiler Emissions- Total NOx Emissions                       96
Boiler Emissions- Total SO2 Emissions                       96
Boiler Emissions- Total PM2.5 Emissions                     96
Name: count, dtype: int64

In [15]:
df_air['Name'].value_counts(normalize=True) # divide by the sum values

Name
Nitrogen dioxide (NO2)                                    0.336391
Fine particles (PM 2.5)                                   0.336391
Ozone (O3)                                                0.112130
Asthma emergency departments visits due to Ozone          0.025448
Asthma emergency department visits due to PM2.5           0.025448
Asthma hospitalizations due to Ozone                      0.025448
Annual vehicle miles traveled                             0.017018
Annual vehicle miles traveled (trucks)                    0.017018
Annual vehicle miles traveled (cars)                      0.017018
Deaths due to PM2.5                                       0.012724
Cardiovascular hospitalizations due to PM2.5 (age 40+)    0.012724
Cardiac and respiratory deaths due to Ozone               0.012724
Respiratory hospitalizations due to PM2.5 (age 20+)       0.012724
Outdoor Air Toxics - Benzene                              0.010762
Outdoor Air Toxics - Formaldehyde                         0.010762
Boiler Emissions- Total NOx Emissions                     0.005090
Boiler Emissions- Total SO2 Emissions                     0.005090
Boiler Emissions- Total PM2.5 Emissions                   0.005090
Name: proportion, dtype: float64

In [19]:
df_air['Geo_Place_Name'].value_counts(normalize=True)

Geo_Place_Name
East New York                           0.014898
Jamaica                                 0.014898
Washington Heights                      0.014898
Central Harlem - Morningside Heights    0.014898
Northeast Bronx                         0.014898
                                          ...
South Bronx                             0.005567
Northern SI                             0.005567
Bayside Little Neck-Fresh Meadows       0.005567
Union Square-Lower Manhattan            0.005567
Southern SI                             0.005567
Name: proportion, Length: 114, dtype: float64

### b. Sort DataFRame

In [23]:
# Sort by column
df_air.sort_values('Data_Value')

,Unique_ID,Indicator_ID,Name,Measure,Measure_Info,Geo_Type_Name,Geo_Join_ID,Geo_Place_Name,Time_Period,Start_Date,Data_Value,Message
12472,179817,641,Boiler Emissions- Total PM2.5 Emissions,Number per km2,number,UHF42,502,Stapleton - St. George,2015,1/1/2015,0.0,NaN
11565,130459,641,Boiler Emissions- Total PM2.5 Emissions,Number per km2,number,UHF42,208,Canarsie - Flatlands,2013,1/1/2013,0.0,NaN
1614,130437,640,Boiler Emissions- Total SO2 Emissions,Number per km2,number,UHF42,503,Willowbrook,2013,1/1/2013,0.0,NaN
18803,828092,661,Asthma hospitalizations due to Ozone,Estimated annual rate (age 18+),"per 100,000 adults",UHF42,404,Bayside - Little Neck,2017-2019,1/1/2017,0.0,NaN
338,179766,640,Boiler Emissions- Total SO2 Emissions,Number per km2,number,UHF42,504,South Beach - Tottenville,2015,1/1/2015,0.0,NaN

In [28]:
# Sort by a column
df_air.sort_values('Data_Value', ascending=False)

,Unique_ID,Indicator_ID,Name,Measure,Measure_Info,Geo_Type_Name,Geo_Join_ID,Geo_Place_Name,Time_Period,Start_Date,Data_Value,Message
4999,130806,648,Asthma emergency department visits due to PM2.5,Estimated annual rate (under age 18),"per 100,000 children",UHF42,302,Central Harlem - Morningside Heights,2005-2007,1/1/2005,424.7,NaN
16962,130807,648,Asthma emergency department visits due to PM2.5,Estimated annual rate (under age 18),"per 100,000 children",UHF42,303,East Harlem,2005-2007,1/1/2005,354.2,NaN
17831,130792,648,Asthma emergency department visits due to PM2.5,Estimated annual rate (under age 18),"per 100,000 children",UHF42,106,High Bridge - Morrisania,2005-2007,1/1/2005,308.0,NaN
13388,131431,648,Asthma emergency department visits due to PM2.5,Estimated annual rate (under age 18),"per 100,000 children",UHF42,303,East Harlem,2009-2011,1/1/2009,299.4,NaN
9614,131046,653,Asthma emergency departments visits due to Ozone,Estimated annual rate (under age 18),"per 100,000 children",UHF42,302,Central Harlem - Morningside Heights,2005-2007,1/1/2005,292.5,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
5214,179771,640,Boiler Emissions- Total SO2 Emissions,Number per km2,number,UHF42,208,Canarsie - Flatlands,2015,1/1/2015,0.0,NaN
7368,179828,641,Boiler Emissions- Total PM2.5 Emissions,Number per km2,number,UHF42,201,Greenpoint,2015,1/1/2015,0.0,NaN
18803,828092,661,Asthma hospitalizations due to Ozone,Estimated annual rate (age 18+),"per 100,000 adults",UHF42,404,Bayside - Little Neck,2017-2019,1/1/2017,0.0,NaN
7045,179818,641,Boiler Emissions- Total PM2.5 Emissions,Number per km2,number,UHF42,410,Rockaways,2015,1/1/2015,0.0,NaN
10582,179814,641,Boiler Emissions- Total PM2.5 Emissions,Number per km2,number,UHF42,504,South Beach - Tottenville,2015,1/1/2015,0.0,NaN

In [31]:
# Sort descending by multiple columns
df_air.sort_values(['Data_Value','Geo_Join_ID'], ascending=False)

,Unique_ID,Indicator_ID,Name,Measure,Measure_Info,Geo_Type_Name,Geo_Join_ID,Geo_Place_Name,Time_Period,Start_Date,Data_Value,Message
4999,130806,648,Asthma emergency department visits due to PM2.5,Estimated annual rate (under age 18),"per 100,000 children",UHF42,302,Central Harlem - Morningside Heights,2005-2007,1/1/2005,424.7,NaN
16962,130807,648,Asthma emergency department visits due to PM2.5,Estimated annual rate (under age 18),"per 100,000 children",UHF42,303,East Harlem,2005-2007,1/1/2005,354.2,NaN
17831,130792,648,Asthma emergency department visits due to PM2.5,Estimated annual rate (under age 18),"per 100,000 children",UHF42,106,High Bridge - Morrisania,2005-2007,1/1/2005,308.0,NaN
13388,131431,648,Asthma emergency department visits due to PM2.5,Estimated annual rate (under age 18),"per 100,000 children",UHF42,303,East Harlem,2009-2011,1/1/2009,299.4,NaN
9614,131046,653,Asthma emergency departments visits due to Ozone,Estimated annual rate (under age 18),"per 100,000 children",UHF42,302,Central Harlem - Morningside Heights,2005-2007,1/1/2005,292.5,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
10581,179826,641,Boiler Emissions- Total PM2.5 Emissions,Number per km2,number,UHF42,204,East New York,2015,1/1/2015,0.0,NaN
13061,130455,641,Boiler Emissions- Total PM2.5 Emissions,Number per km2,number,UHF42,204,East New York,2013,1/1/2013,0.0,NaN
7368,179828,641,Boiler Emissions- Total PM2.5 Emissions,Number per km2,number,UHF42,201,Greenpoint,2015,1/1/2015,0.0,NaN
14732,130492,641,Boiler Emissions- Total PM2.5 Emissions,Number per km2,number,Borough,5,Staten Island,2013,1/1/2013,0.0,NaN
15079,179861,641,Boiler Emissions- Total PM2.5 Emissions,Number per km2,number,Borough,5,Staten Island,2015,1/1/2015,0.0,NaN

In [41]:
# sort descending by multiple columns and update dataFRame(mengganti data FRame)
df_air.sort_values(['Data_Value','Geo_Join_ID'], ascending=False)

,Unique_ID,Indicator_ID,Name,Measure,Measure_Info,Geo_Type_Name,Geo_Join_ID,Geo_Place_Name,Time_Period,Start_Date,Data_Value,Message
4999,130806,648,Asthma emergency department visits due to PM2.5,Estimated annual rate (under age 18),"per 100,000 children",UHF42,302,Central Harlem - Morningside Heights,2005-2007,1/1/2005,424.7,NaN
16962,130807,648,Asthma emergency department visits due to PM2.5,Estimated annual rate (under age 18),"per 100,000 children",UHF42,303,East Harlem,2005-2007,1/1/2005,354.2,NaN
17831,130792,648,Asthma emergency department visits due to PM2.5,Estimated annual rate (under age 18),"per 100,000 children",UHF42,106,High Bridge - Morrisania,2005-2007,1/1/2005,308.0,NaN
13388,131431,648,Asthma emergency department visits due to PM2.5,Estimated annual rate (under age 18),"per 100,000 children",UHF42,303,East Harlem,2009-2011,1/1/2009,299.4,NaN
9614,131046,653,Asthma emergency departments visits due to Ozone,Estimated annual rate (under age 18),"per 100,000 children",UHF42,302,Central Harlem - Morningside Heights,2005-2007,1/1/2005,292.5,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
10581,179826,641,Boiler Emissions- Total PM2.5 Emissions,Number per km2,number,UHF42,204,East New York,2015,1/1/2015,0.0,NaN
13061,130455,641,Boiler Emissions- Total PM2.5 Emissions,Number per km2,number,UHF42,204,East New York,2013,1/1/2013,0.0,NaN
7368,179828,641,Boiler Emissions- Total PM2.5 Emissions,Number per km2,number,UHF42,201,Greenpoint,2015,1/1/2015,0.0,NaN
14732,130492,641,Boiler Emissions- Total PM2.5 Emissions,Number per km2,number,Borough,5,Staten Island,2013,1/1/2013,0.0,NaN
15079,179861,641,Boiler Emissions- Total PM2.5 Emissions,Number per km2,number,Borough,5,Staten Island,2015,1/1/2015,0.0,NaN

In [42]:
# mengubah jadi huruf kecil semua jadi bisa pakai lamda juga
df_air.sort_values('Name', ascending=True, key=lambda col:col.str.lower())

,Unique_ID,Indicator_ID,Name,Measure,Measure_Info,Geo_Type_Name,Geo_Join_ID,Geo_Place_Name,Time_Period,Start_Date,Data_Value,Message
18619,151626,643,Annual vehicle miles traveled,Million miles,per square mile,UHF42,104,Pelham - Throgs Neck,2005,1/1/2005,41.213353,NaN
8806,816779,643,Annual vehicle miles traveled,Million miles,per square mile,CD,206,Belmont and East Tremont (CD6),2019,1/1/2019,104.891079,NaN
14565,151635,643,Annual vehicle miles traveled,Million miles,per square mile,UHF42,206,Borough Park,2005,1/1/2005,57.839769,NaN
5062,816831,643,Annual vehicle miles traveled,Million miles,per square mile,UHF42,407,Southwest Queens,2019,1/1/2019,57.779889,NaN
10353,154576,643,Annual vehicle miles traveled,Million miles,per square mile,CD,205,Fordham and University Heights (CD5),2005,1/1/2005,105.527281,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
17017,827606,650,Respiratory hospitalizations due to PM2.5 (age...,Estimated annual rate,"per 100,000 adults",UHF42,307,Gramercy Park - Murray Hill,2017-2019,1/1/2017,5.000000,NaN
7593,827604,650,Respiratory hospitalizations due to PM2.5 (age...,Estimated annual rate,"per 100,000 adults",UHF42,305,Upper East Side,2017-2019,1/1/2017,5.000000,NaN
18665,827603,650,Respiratory hospitalizations due to PM2.5 (age...,Estimated annual rate,"per 100,000 adults",UHF42,304,Upper West Side,2017-2019,1/1/2017,5.000000,NaN
14790,628549,650,Respiratory hospitalizations due to PM2.5 (age...,Estimated annual rate,"per 100,000 adults",UHF42,210,Coney Island - Sheepshead Bay,2015-2017,1/1/2015,14.700000,NaN
4969,827612,650,Respiratory hospitalizations due to PM2.5 (age...,Estimated annual rate,"per 100,000 adults",UHF42,403,Flushing - Clearview,2017-2019,1/1/2017,5.000000,NaN

### C. set_index() dan sort_index() methode

#### 1. create index

In [45]:
import numpy as np
import random

In [47]:
new_index = np.arange(0, 18862) # create number

In [49]:
random.shuffle(new_index)

In [50]:
new_index

array([ 8531,  4645,  8001, ..., 16484, 17783,  5178])

In [53]:
df_air['new_index'] = new_index # membuat kolom baru
df_air

,Unique_ID,Indicator_ID,Name,Measure,Measure_Info,Geo_Type_Name,Geo_Join_ID,Geo_Place_Name,Time_Period,Start_Date,Data_Value,Message,new_index
4999,130806,648,Asthma emergency department visits due to PM2.5,Estimated annual rate (under age 18),"per 100,000 children",UHF42,302,Central Harlem - Morningside Heights,2005-2007,1/1/2005,424.7,NaN,8531
16962,130807,648,Asthma emergency department visits due to PM2.5,Estimated annual rate (under age 18),"per 100,000 children",UHF42,303,East Harlem,2005-2007,1/1/2005,354.2,NaN,4645
17831,130792,648,Asthma emergency department visits due to PM2.5,Estimated annual rate (under age 18),"per 100,000 children",UHF42,106,High Bridge - Morrisania,2005-2007,1/1/2005,308.0,NaN,8001
13388,131431,648,Asthma emergency department visits due to PM2.5,Estimated annual rate (under age 18),"per 100,000 children",UHF42,303,East Harlem,2009-2011,1/1/2009,299.4,NaN,18559
9614,131046,653,Asthma emergency departments visits due to Ozone,Estimated annual rate (under age 18),"per 100,000 children",UHF42,302,Central Harlem - Morningside Heights,2005-2007,1/1/2005,292.5,NaN,8770
...,...,...,...,...,...,...,...,...,...,...,...,...,...
10581,179826,641,Boiler Emissions- Total PM2.5 Emissions,Number per km2,number,UHF42,204,East New York,2015,1/1/2015,0.0,NaN,2778
13061,130455,641,Boiler Emissions- Total PM2.5 Emissions,Number per km2,number,UHF42,204,East New York,2013,1/1/2013,0.0,NaN,18370
7368,179828,641,Boiler Emissions- Total PM2.5 Emissions,Number per km2,number,UHF42,201,Greenpoint,2015,1/1/2015,0.0,NaN,16484
14732,130492,641,Boiler Emissions- Total PM2.5 Emissions,Number per km2,number,Borough,5,Staten Island,2013,1/1/2013,0.0,NaN,17783
15079,179861,641,Boiler Emissions- Total PM2.5 Emissions,Number per km2,number,Borough,5,Staten Island,2015,1/1/2015,0.0,NaN,5178

#### 2. Set index

In [57]:
df_air.set_index('new_index' , inplace=True) # menngganti index dengan kolom yang digunakan

#### 3. Sort Index

In [59]:
# sort dataFrame by new index
df_air.sort_index()

,Unique_ID,Indicator_ID,Name,Measure,Measure_Info,Geo_Type_Name,Geo_Join_ID,Geo_Place_Name,Time_Period,Start_Date,Data_Value,Message
new_index,,,,,,,,,,,,
0,336838,375,Nitrogen dioxide (NO2),Mean,ppb,CD,316,Brownsville (CD16),Annual Average 2015,1/1/2015,20.080000,NaN
1,173116,365,Fine particles (PM 2.5),Mean,mcg/m3,UHF34,305307,Upper East Side-Gramercy,Winter 2008-09,12/1/2008,16.380000,NaN
2,412038,386,Ozone (O3),Mean,ppb,UHF34,103,Fordham - Bronx Pk,Summer 2016,6/1/2016,32.780000,NaN
3,874529,365,Fine particles (PM 2.5),Mean,mcg/m3,CD,101,Financial District (CD1),Summer 2023,6/1/2023,9.239339,NaN
4,178467,365,Fine particles (PM 2.5),Mean,mcg/m3,UHF42,309,Union Square - Lower East Side,Annual Average 2010,12/1/2009,10.870000,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
18857,222608,386,Ozone (O3),Mean,ppb,UHF42,407,Southwest Queens,Summer 2012,6/1/2012,34.150000,NaN
18858,547524,365,Fine particles (PM 2.5),Mean,mcg/m3,UHF34,207,East Flatbush - Flatbush,Summer 2017,6/1/2017,8.920000,NaN
18859,741050,375,Nitrogen dioxide (NO2),Mean,ppb,UHF34,207,East Flatbush - Flatbush,Summer 2021,6/1/2021,10.748794,NaN
18860,212315,375,Nitrogen dioxide (NO2),Mean,ppb,UHF42,308,Greenwich Village - SoHo,Winter 2013-14,12/1/2013,33.980000,NaN
18861,825919,375,Nitrogen dioxide (NO2),Mean,ppb,UHF34,209,Bensonhurst - Bay Ridge,Winter 2021-22,12/1/2021,20.143671,NaN

In [62]:
df_air.sort_index(ascending=False) # sort descending

,Unique_ID,Indicator_ID,Name,Measure,Measure_Info,Geo_Type_Name,Geo_Join_ID,Geo_Place_Name,Time_Period,Start_Date,Data_Value,Message
new_index,,,,,,,,,,,,
18861,825919,375,Nitrogen dioxide (NO2),Mean,ppb,UHF34,209,Bensonhurst - Bay Ridge,Winter 2021-22,12/1/2021,20.143671,NaN
18860,212315,375,Nitrogen dioxide (NO2),Mean,ppb,UHF42,308,Greenwich Village - SoHo,Winter 2013-14,12/1/2013,33.980000,NaN
18859,741050,375,Nitrogen dioxide (NO2),Mean,ppb,UHF34,207,East Flatbush - Flatbush,Summer 2021,6/1/2021,10.748794,NaN
18858,547524,365,Fine particles (PM 2.5),Mean,mcg/m3,UHF34,207,East Flatbush - Flatbush,Summer 2017,6/1/2017,8.920000,NaN
18857,222608,386,Ozone (O3),Mean,ppb,UHF42,407,Southwest Queens,Summer 2012,6/1/2012,34.150000,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
4,178467,365,Fine particles (PM 2.5),Mean,mcg/m3,UHF42,309,Union Square - Lower East Side,Annual Average 2010,12/1/2009,10.870000,NaN
3,874529,365,Fine particles (PM 2.5),Mean,mcg/m3,CD,101,Financial District (CD1),Summer 2023,6/1/2023,9.239339,NaN
2,412038,386,Ozone (O3),Mean,ppb,UHF34,103,Fordham - Bronx Pk,Summer 2016,6/1/2016,32.780000,NaN
1,173116,365,Fine particles (PM 2.5),Mean,mcg/m3,UHF34,305307,Upper East Side-Gramercy,Winter 2008-09,12/1/2008,16.380000,NaN
0,336838,375,Nitrogen dioxide (NO2),Mean,ppb,CD,316,Brownsville (CD16),Annual Average 2015,1/1/2015,20.080000,NaN